@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  /* Use the border-color directly */
  * {
    border-color: hsl(var(--border));
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #EEEEEE !important;
}

.App{
  height: 100vh !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
  padding: 0 !important;
}
#menu {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#menu-title{
  margin-top: 10vh;
  margin-bottom: 15vh;
}

#menu-title p:first-child {
  font-size: 30px;
  font-weight: lighter;
}
#menu-title p:last-child{
  font-size: 70px;
}
#menu button{
  border: 1px solid #EEEEEE !important;
  background-color: transparent;
  color: #EEEEEE;
  width: 22.5vw;
  min-width: 300px !important;
  height: 8vh;
  min-width: fit-content;
  border-radius: 15px;
  font-size: large;
}
#menu button:hover {
  animation: menu-btn-animation 800ms ease;
}

@keyframes menu-btn-animation {
  0%{
    background-color: #011930;
    color: #EEEEEE;
  }
  100% {
    background-color: #EEEEEE;
    color: #00072D;
  }
}

/*World Builder*/

#builder-form .input{
  /*border: none !important;*/
  border: 1px solid #EEEEEE !important;
  color: #EEEEEE;
  height: 7vh;
  font-size: large;
  background-color: #011930;
}
#builder-form .input:focus {
  background-color: #011930 !important;
}
#builder-form .input::placeholder {
  color: #EEEEEE;
  opacity: .7;
}
#builder-btn-container {
  
  background-color: #011930;
}
#builder-btn-container button{
  border: 1px solid #EEEEEE !important;
  background-color: #011930;
  color: #EEEEEE;
  width: 100%;
  height: 7vh;
  min-width: fit-content;
  border-radius: 10px;
  font-size: large;
}
#builder-btn-container button:hover {
  animation: menu-btn-animation 800ms ease;
}
/*World player*/
/*
#control-panel {
  width: 100vw;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #011930;
  padding: 25px 50px 25px 50px;
  border-bottom: 2px solid white;
  margin-bottom: 10vh;
}
#control-panel ul {
 margin-bottom: 0;
}
#control-panel li{
  line-height: 20px;
}
#control-panel li:last-child {
  opacity: .6;
  font-size: 14px;
}
#control-panel li:first-child {
  font-size: 22px;
}
#control-panel ul span{
  font-size: 14px;
}*/
.startBtn{
  width: 5vw;
  height: 40px;
  min-width: fit-content;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
}
#speedBox, #zoomBox{
  width: 11% !important;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
#genBox {
  flex-direction: column;
  margin: 0;
}
.control-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
#undoRedoBox {
  width: 12%;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
}
#saveBtn {
  width: 5vw;
  height: 40px;
  min-width: fit-content;
  border-radius: 15px;
  background-color: white;
}
canvas {
  border-color: #D9D9D9 !important;
}
/*Mobiles*/
@media only screen and (max-width: 600px) {
  /*Builder*/
  #builder-form{
    align-items: center;
  }
  #builder-btn-container {
    flex-direction: column;
  }

  #builder-btn-container button{
    width: 90%;
  }
}

/* Styles for tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {

}